
@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsEmirleri</title>
</head>
<body>
<div>
    <div class="row">
        @Html.Action("IsEmriGridPartial")
    </div>
</div>
</body>
</html>
