
@{
    ViewBag.Title = "IsEmriDetayDuzenleme";
    Layout = "~/Views/Shared/_LayoutDevExpress.cshtml";
}

<h2>IsEmriDetayDuzenleme</h2>

<div class="row">
    @Html.Action("_Edit", "IsEmri", new { id = 100479856 })
</div>