@model System.Collections.Generic.IEnumerable<KendoMatbaa.Models.spKullanilanLaminasyonlariDon_Result>

<table class="table" style="text-align: center">
    <tr>
        <th style="text-align: center">
            Laminasyon
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LaminasyonAdi)
            </td>
            
        </tr>
    }

</table>